@tailwind base;
@tailwind components;
@tailwind utilities;

/* base = html, body, h1 etc */
@layer base {
    html {
        @apply scroll-smooth
    }
    body {
        @apply bg-[#141414] text-white
    }

    header {
        @apply fixed top-0  flex w-full p-4 lg:px-10 lg:py-6 transition-all
    }
}

@layer components {
    .headerLink {
        @apply cursor-pointer text-sm font-light text-[white] transition duration-[.3s] hover:text-[#e1dddd]
    }

   .btn {
    @apply flex items-center gap-4 text-black text-sm font-semibold transition hover:opacity-75 px-5 py-1.5 rounded
   }
}

::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    opacity: 0.1;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
